:root {
    --color-purple: #5733b1;
    --color-purple-hover: #371a80;
    --color-white: #eaeaea;
    --color-white-hover: #d9d9d9;
    --color-black: #151515;
    --color-grey: #202020;
    --color-light-grey: #252525;
    --color-separator: #9d9d9d;

    --bg-color: var(--color-black);

    --font: 'Roboto', sans-serif;
    
}

